<p id="notice"><%= notice %></p>

<h1>Property Listings</h1>

    <% @properties.each do |property| %>
    	<div>	
    		<%=property.property_name%>
    		<%= link_to 'Show', property %>
       		<%= link_to 'Edit', edit_property_path(property) %></td>
       		<%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
   		</div>
    <% end %>
<%= link_to 'New Property', new_property_path %>
