<p id="notice"><%= notice %></p>
<link rel="stylesheet" type="text/css" href="login_style.css">
<script type="text/javascript" src="login_effect.js"></script>

<div>
	<div>
		<%=@property.property_name%>
	</div>
	<div>
		<%=pluralize(@amount_of_interest_shown, 'person')%> have shown interest in this property
	</div>
	<div>
		Monthly Amount: $<%=@property.monthly_amt%>
		Description: <%=@property.description%>
	</div>
	<div>
		Property Owner: <%=@property_landlord.name%>
		Telephone Contact: <%=@property_landlord.phone_number%>
		<a id="show_login">
  			 Show Interest? <span class="glyphicon glyphicon-ok-circle"></span>
		</a>
	</div>
</div>
        
<div id = "loginform">
   <%=form_for @prospective_tenant, url:prospective_tenants_path do |f|%>
   		<%=f.hidden_field :property_id, value: @property.id%>
   		<%=f.text_field(:name, placeholder: "Enter Name" )%>
   		<%=f.telephone_field(:phone_number, placeholder: "Telephone Number" )%>
   		<%=f.date_field(:appointment_date, placeholder: "When would you like to see the property?")%>
   		<%=f.submit 'Schedule Appointment'%>
   		<span class="glyphicon glyphicon-remove"><input type = "button" id = "close_login"></span>
   <%end%>
</div>

