<p id="notice"><%= notice %></p>

<%=@property.num_bedrooms%>
<%=@property.num_bathrooms%>
<%=@property.monthly_amt%>
<%=@property.landlord_id%>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
