<p id="notice"><%= notice %></p>

<h1><%=@category_name%> Properties</h1>
    <%@properties.each do |property|%>
    	<div>	
    		<div class="property_name">
    			<%=link_to property.property_name, property_path(property)%>
    		</div>
    		<div class="property_details">
    			Monthly Amount: $<%=property.monthly_amt%>
    			Description: <%=property.description%>
    		</div>
   		</div>
    <% end %>
